:root {
    --dark-color: #000000;
    --black-color: #212121;
    --main-color: #2196f3;
    --grey-color: #757575;
    --adress-color: rgba(255, 255, 255, 0.6);
    --button_text-color: #ffffff;
  }